In [6]:
import pandas as pd

pl_url = "https://www.football-data.co.uk/mmz4281/2425/E0.csv"
bund_url = "https://www.football-data.co.uk/mmz4281/2425/D1.csv"

pl_matches = pd.read_csv(pl_url)
bund_matches = pd.read_csv(bund_url)

pl_matches.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [7]:
def clean_goals(df, league_name):
    df = df.copy()
    df["total_goals"] = df["FTHG"] + df["FTAG"]
    df["league"] = league_name
    return df[["league","Date","HomeTeam","AwayTeam","FTHG","FTAG","total_goals"]]

pl_goals = clean_goals(pl_matches, "Premier League")
bund_goals = clean_goals(bund_matches, "Bundesliga")

goals_df = pd.concat([pl_goals, bund_goals], ignore_index=True)
goals_df.head()

,league,Date,HomeTeam,AwayTeam,FTHG,FTAG,total_goals
0,Premier League,16/08/2024,Man United,Fulham,1,0,1
1,Premier League,17/08/2024,Ipswich,Liverpool,0,2,2
2,Premier League,17/08/2024,Arsenal,Wolves,2,0,2
3,Premier League,17/08/2024,Everton,Brighton,0,3,3
4,Premier League,17/08/2024,Newcastle,Southampton,1,0,1

In [11]:
goals_df.to_csv(
    "../cleaned/goals_2425_pl_bundesliga.csv",
    index=False)