In [1]:
import os

BASE_PATH = r"C:\Users\Irish\Desktop\project_folder\The-Tactical-Evolution-of-Modern-Football"
os.chdir(BASE_PATH)

os.getcwd()

'C:\\Users\\Irish\\Desktop\\project_folder\\The-Tactical-Evolution-of-Modern-Football'

In [2]:
import json
import pandas as pd
from urllib.request import urlopen

In [3]:
BASE_URL = "https://raw.githubusercontent.com/statsbomb/open-data/master/data"

def read_json(url):
    with urlopen(url) as response:
        return json.loads(response.read().decode("utf-8"))

In [4]:
competitions = read_json(f"{BASE_URL}/competitions.json")
competitions_df = pd.DataFrame(competitions)

competitions_df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-09-28T20:46:38.893391,2025-07-06T04:26:07.636270,2025-07-06T04:26:07.636270,2024-09-28T20:46:38.893391
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-09-28T01:57:35.846538,None,None,2024-09-28T01:57:35.846538
3,16,4,Europe,Champions League,male,False,False,2018/2019,2025-05-08T15:10:50.835274,2021-06-13T16:17:31.694,None,2025-05-08T15:10:50.835274
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882

In [5]:
pl_seasons = competitions_df[
    competitions_df["competition_name"] == "Premier League"
][["competition_id", "season_id", "season_name"]]

pl_seasons.sort_values("season_name")

    competition_id  season_id season_name
65               2         44   2003/2004
64               2         27   2015/2016

Season identifiers in StatsBomb Open Data are competition-specific and were verified using the official competitions.json metadata to ensure correct season selection.

In [6]:
pl_matches_url = f"{BASE_URL}/matches/2/27.json"
pl_matches_raw = read_json(pl_matches_url)

pl_matches = pd.json_normalize(pl_matches_raw)
pl_matches.head()

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,...,competition_stage.id,competition_stage.name,stadium.id,stadium.name,stadium.country.id,stadium.country.name,referee.id,referee.name,referee.country.id,referee.country.name
0,3754058,2016-01-02,16:00:00.000,0,0,available,processing,2021-10-29T23:44:19.940296,2021-06-12T16:17:31.694,20,...,1,Regular Season,20,King Power Stadium,68,England,5,Andre Marriner,68,England
1,3754245,2015-10-17,16:00:00.000,1,0,available,scheduled,2022-12-01T13:09:17.044015,2021-06-13T16:17:31.694,9,...,1,Regular Season,33,The Hawthorns,68,England,4,Martin Atkinson,68,England
2,3754136,2015-12-19,18:30:00.000,1,1,available,scheduled,2020-11-12T23:48:19.757269,2021-06-13T16:17:31.694,17,...,1,Regular Season,4674,St. James'' Park,68,England,4,Martin Atkinson,68,England
3,3754037,2016-04-30,16:00:00.000,2,1,available,processing,2021-07-07T17:59:57.456,2021-06-12T16:17:31.694,36,...,1,Regular Season,12,Goodison Park,68,England,7,Neil Swarbrick,68,England
4,3754039,2016-02-13,16:00:00.000,1,2,available,processing,2021-07-25T18:09:51.386,2021-06-12T16:17:31.694,26,...,1,Regular Season,37,Selhurst Park,68,England,9,Robert Madley,68,England

In [7]:
bund_matches_url = f"{BASE_URL}/matches/9/27.json"
bund_matches_raw = read_json(bund_matches_url)

bund_matches = pd.json_normalize(bund_matches_raw)
bund_matches.head()

,match_id,match_date,kick_off,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,match_week,...,competition_stage.id,competition_stage.name,stadium.id,stadium.name,stadium.country.id,stadium.country.name,referee.id,referee.name,referee.country.id,referee.country.name
0,3890561,2016-05-14,15:30:00.000,1,4,available,unscheduled,2023-07-24T07:47:12.510532,None,34,...,1,Regular Season,4541,PreZero Arena,85,Germany,186,Felix Brych,85,Germany
1,3890505,2016-04-02,15:30:00.000,1,0,available,unscheduled,2023-08-03T13:14:14.503553,None,28,...,1,Regular Season,4867,Allianz Arena,85,Germany,1008758,Florian Meyer,85,Germany
2,3890511,2016-04-08,20:30:00.000,2,2,available,unscheduled,2023-08-06T05:50:38.345688,None,29,...,1,Regular Season,367,Olympiastadion Berlin,85,Germany,235,Benjamin Brand,85,Germany
3,3890515,2016-04-09,15:30:00.000,1,2,available,unscheduled,2023-07-18T17:52:17.363623,None,29,...,1,Regular Season,379,Volksparkstadion,85,Germany,1008767,Peter Sippel,85,Germany
4,3890411,2015-12-20,16:30:00.000,2,0,available,unscheduled,2023-07-16T13:47:06.565811,None,17,...,1,Regular Season,367,Olympiastadion Berlin,85,Germany,1008767,Peter Sippel,85,Germany

In [8]:
print("PL matches:", pl_matches.shape)
print("Bundesliga matches:", bund_matches.shape)

PL matches: (380, 42)
Bundesliga matches: (306, 42)

In [9]:
example_match_id = pl_matches.loc[0, "match_id"]

events_url = f"{BASE_URL}/events/{example_match_id}.json"
events_raw = read_json(events_url)

events = pd.json_normalize(events_raw)
events.head()

,id,index,period,timestamp,minute,second,possession,duration,type.id,type.name,...,goalkeeper.technique.id,goalkeeper.technique.name,goalkeeper.body_part.id,goalkeeper.body_part.name,pass.inswinging,foul_committed.penalty,foul_won.penalty,pass.outswinging,miscontrol.aerial_won,goalkeeper.punched_out
0,9153e9f4-f69c-4e04-8f64-505592e212cd,1,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3fbcf4e7-94d1-485a-be85-fd26a6af0318,2,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,06a9a4dc-d9c9-40f6-bd89-437ba7fe682d,3,1,00:00:00.000,0,0,1,0.000000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100362ee-9311-4187-bd8a-0201d9db2565,4,1,00:00:00.000,0,0,1,0.000000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2ca23eea-a984-47e4-8243-8f00880ad1c9,5,1,00:00:01.753,0,1,2,0.308263,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
events.shape, events["type.name"].value_counts().head(10)

((3576, 115),
 type.name
 Pass             1002
 Ball Receipt*     924
 Carry             742
 Pressure          363
 Ball Recovery     102
 Duel               83
 Clearance          59
 Block              42
 Goal Keeper        35
 Miscontrol         34
 Name: count, dtype: int64)

In [11]:
base_cols = [
    "id", "index", "period", "timestamp",
    "minute", "second", "type.name", "team.name", "player.name",
    "possession", "play_pattern.name"
]
events[base_cols].head(15)

,id,index,period,timestamp,minute,second,type.name,team.name,player.name,possession,play_pattern.name
0,9153e9f4-f69c-4e04-8f64-505592e212cd,1,1,00:00:00.000,0,0,Starting XI,Leicester City,NaN,1,Regular Play
1,3fbcf4e7-94d1-485a-be85-fd26a6af0318,2,1,00:00:00.000,0,0,Starting XI,AFC Bournemouth,NaN,1,Regular Play
2,06a9a4dc-d9c9-40f6-bd89-437ba7fe682d,3,1,00:00:00.000,0,0,Half Start,AFC Bournemouth,NaN,1,Regular Play
3,100362ee-9311-4187-bd8a-0201d9db2565,4,1,00:00:00.000,0,0,Half Start,Leicester City,NaN,1,Regular Play
4,2ca23eea-a984-47e4-8243-8f00880ad1c9,5,1,00:00:01.753,0,1,Pass,AFC Bournemouth,Dan Gosling,2,From Kick Off
5,1f98c89e-2326-4200-8c12-a987fdbbaf2e,6,1,00:00:02.061,0,2,Ball Receipt*,AFC Bournemouth,Joshua King,2,From Kick Off
6,a936e18c-3979-4576-8cc0-94114f1599db,7,1,00:00:02.061,0,2,Carry,AFC Bournemouth,Joshua King,2,From Kick Off
7,0fee7719-7e69-49c5-be81-3f2b77da604e,8,1,00:00:02.077,0,2,Pass,AFC Bournemouth,Joshua King,2,From Kick Off
8,8764f645-0544-426e-9bef-764dcf13f019,9,1,00:00:03.010,0,3,Ball Receipt*,AFC Bournemouth,Andrew Surman,2,From Kick Off
9,6362aa69-892f-4d11-8644-21a680ea7c66,10,1,00:00:03.010,0,3,Pass,AFC Bournemouth,Andrew Surman,2,From Kick Off
10,4e43a985-9566-4762-868f-c992de243bd6,11,1,00:00:05.465,0,5,Ball Receipt*,AFC Bournemouth,Adam Smith,2,From Kick Off
11,d031d1d6-600c-4234-ac87-8e9eb9efdeee,12,1,00:00:05.465,0,5,Carry,AFC Bournemouth,Adam Smith,2,From Kick Off
12,56da36e4-8b0d-4596-ba46-1d944c3d3f04,13,1,00:00:06.145,0,6,Pass,AFC Bournemouth,Adam Smith,2,From Kick Off
13,a4eb31c9-6417-4a65-9f71-b3aeece1758e,14,1,00:00:07.941,0,7,Ball Receipt*,AFC Bournemouth,Simon Francis,2,From Kick Off
14,d507ebad-3228-416c-9a9e-785a82c966bc,15,1,00:00:07.941,0,7,Carry,AFC Bournemouth,Simon Francis,2,From Kick Off

In [12]:
shots = events[events["type.name"] == "Shot"].copy()
shots.shape

(27, 115)

In [13]:
shot_cols = [
    "id", "minute", "second", "team.name", "player.name",
    "location", "shot.statsbomb_xg",
    "shot.outcome.name", "shot.type.name",
    "shot.body_part.name", "shot.technique.name",
    "shot.end_location"
]
shots[shot_cols].head(10)

,id,minute,second,team.name,player.name,location,shot.statsbomb_xg,shot.outcome.name,shot.type.name,shot.body_part.name,shot.technique.name,shot.end_location
92,72596ffe-393e-4a75-82c6-5fb82ae36d4d,1,33,AFC Bournemouth,Junior Stanislas,"[107.1, 26.6]",0.020838,Blocked,Open Play,Right Foot,Normal,"[109.7, 30.1]"
223,b2bae775-5dd8-45bf-9b84-191c7849f707,4,23,AFC Bournemouth,Joshua King,"[113.7, 54.0]",0.034462,Blocked,Open Play,Right Foot,Normal,"[114.5, 52.6]"
439,7c4227e5-0759-4633-93ea-bbbe291bbd72,9,20,Leicester City,Riyad Mahrez,"[115.7, 50.5]",0.035481,Off T,Open Play,Left Foot,Overhead Kick,"[120.0, 43.3, 3.6]"
578,8e3a6f10-64e4-49bf-a157-16b15b552713,13,11,AFC Bournemouth,Joshua King,"[113.9, 38.6]",0.383711,Off T,Open Play,Head,Normal,"[120.0, 46.0, 1.2]"
1169,3a5364b3-0b99-4271-a451-0a3033ad195d,25,47,Leicester City,José Leonardo Ulloa,"[96.7, 47.2]",0.036740,Wayward,Open Play,Right Foot,Half Volley,"[103.9, 40.1]"
1176,1d66ec6b-17ea-418d-a390-b5b4ac0f8181,25,49,Leicester City,Jamie Vardy,"[111.3, 38.7]",0.575428,Post,Open Play,Right Foot,Normal,"[120.0, 36.0, 1.3]"
1431,e766a3d8-8a5e-42d2-aea1-378af85d8c6b,32,14,AFC Bournemouth,Junior Stanislas,"[112.6, 28.7]",0.095998,Off T,Open Play,Right Foot,Normal,"[120.0, 48.0, 5.3]"
1490,373e52d0-06f0-44bd-b62c-0a4fe528c6b4,33,52,Leicester City,José Leonardo Ulloa,"[112.1, 32.8]",0.047259,Off T,Open Play,Head,Normal,"[120.0, 48.3, 1.0]"
1601,77d83d42-ad31-42c6-a606-415f6ac199b8,36,57,AFC Bournemouth,Dan Gosling,"[108.4, 43.0]",0.256448,Off T,Open Play,Right Foot,Normal,"[120.0, 41.4, 4.9]"
1615,12ab3780-190a-477f-b832-8c612d0fd5b0,37,43,Leicester City,Jamie Vardy,"[114.2, 27.2]",0.111973,Wayward,Open Play,Left Foot,Normal,"[119.2, 50.5]"

In [14]:
goals = shots[shots["shot.outcome.name"] == "Goal"]
goals[shot_cols].head(10)

Empty DataFrame
Columns: [id, minute, second, team.name, player.name, location, shot.statsbomb_xg, shot.outcome.name, shot.type.name, shot.body_part.name, shot.technique.name, shot.end_location]
Index: []

In [15]:
goals["goal_context"] = goals["shot.type.name"].fillna("Unknown")

goals["goal_context"].value_counts()

Series([], Name: count, dtype: int64)

In [16]:
lineups_url = f"{BASE_URL}/lineups/{example_match_id}.json"
lineups_raw = read_json(lineups_url)
lineups = pd.json_normalize(lineups_raw)

lineups.columns

Index(['team_id', 'team_name', 'lineup'], dtype='object')

In [17]:
events = pd.json_normalize(events_raw)

In [18]:
events["match_id"] = example_match_id

In [19]:
events_clean = events[[
    "id",
    "match_id",
    "period",
    "minute",
    "second",
    "type.name",
    "team.name",
    "player.name",
    "possession",
    "play_pattern.name",
    "location"
]].copy()

In [20]:
events_clean.head()
events_clean["match_id"].nunique()

1

Match ID is implied by the file, not embedded in each row. Good practice to add manually

In [21]:
events_clean.columns = (events_clean.columns.str.lower().str.replace(".", "_"))

In [22]:
events_clean = events_clean.dropna(subset=["type_name", "team_name"])

In [23]:
events_clean["x"] = events_clean["location"].apply(
    lambda v: v[0] if isinstance(v, list) else None
)

events_clean["y"] = events_clean["location"].apply(
    lambda v: v[1] if isinstance(v, list) else None
)

events_clean = events_clean.drop(columns=["location"])

easier for Tableau

In [24]:
shots = events[events["type.name"] == "Shot"].copy()

shots_clean = shots[["id","match_id","minute","second","team.name","player.name","shot.statsbomb_xg","shot.outcome.name","shot.type.name","shot.body_part.name","shot.end_location"]].copy()

shots_clean.columns = (shots_clean.columns.str.lower().str.replace(".", "_"))

In [25]:
shots_clean["shot_statsbomb_xg"] = shots_clean["shot_statsbomb_xg"].fillna(0)
shots_clean["shot_type_name"] = shots_clean["shot_type_name"].fillna("Unknown")

In [26]:
shots_clean["is_goal"] = (shots_clean["shot_outcome_name"] == "Goal").astype(int)

shots_clean["shot_distance"] = (
    ((shots_clean["shot_end_location"].apply(lambda v: v[0] if isinstance(v, list) else None))**2 +
     (shots_clean["shot_end_location"].apply(lambda v: v[1] if isinstance(v, list) else None))**2) ** 0.5)

In [27]:
shots_clean["is_goal"].value_counts()
shots_clean["shot_type_name"].value_counts().head()
shots_clean.isnull().mean().sort_values(ascending=False).head()

id           0.0
match_id     0.0
minute       0.0
second       0.0
team_name    0.0
dtype: float64

In [28]:
match_id = int(pl_matches.loc[0, "match_id"])  # your example
lineups_url = f"{BASE_URL}/lineups/{match_id}.json"
lineups_raw = read_json(lineups_url)

type(lineups_raw), len(lineups_raw)

(list, 2)

In [29]:
def extract_team_formations(lineups_raw, match_id):
    rows = []
    for team in lineups_raw:
        team_name = team.get("team_name") or team.get("team", {}).get("name")
        tactics = team.get("tactics") or {}
        formation = tactics.get("formation")  # often an int like 433, 4231, etc.

        rows.append({
            "match_id": match_id,
            "team_name": team_name,
            "formation_raw": formation})
    return pd.DataFrame(rows)

team_formations = extract_team_formations(lineups_raw, match_id)
team_formations

   match_id        team_name formation_raw
0   3754058  AFC Bournemouth          None
1   3754058   Leicester City          None

In [30]:
events_raw = read_json(f"{BASE_URL}/events/{example_match_id}.json")
events = pd.json_normalize(events_raw)
events["match_id"] = example_match_id

In [31]:
events["type.name"].value_counts().head(15)

type.name
Pass             1002
Ball Receipt*     924
Carry             742
Pressure          363
Ball Recovery     102
Duel               83
Clearance          59
Block              42
Goal Keeper        35
Miscontrol         34
Dribble            31
Dispossessed       29
Shot               27
Interception       25
Dribbled Past      19
Name: count, dtype: int64

In [32]:
"Starting XI" in events["type.name"].unique()

True

In [33]:
example_match_id = int(pl_matches.loc[0, "match_id"])

events_raw = read_json(f"{BASE_URL}/events/{example_match_id}.json")
events = pd.json_normalize(events_raw)
events["match_id"] = example_match_id

events["type.name"].value_counts().head(20)

type.name
Pass               1002
Ball Receipt*       924
Carry               742
Pressure            363
Ball Recovery       102
Duel                 83
Clearance            59
Block                42
Goal Keeper          35
Miscontrol           34
Dribble              31
Dispossessed         29
Shot                 27
Interception         25
Dribbled Past        19
Foul Committed       19
Foul Won             18
Injury Stoppage       5
Substitution          5
Half Start            4
Name: count, dtype: int64

In [34]:
starting_xi = events[events["type.name"] == "Starting XI"].copy()

starting_xi[["team.name", "tactics.formation"]]

         team.name  tactics.formation
0   Leicester City              442.0
1  AFC Bournemouth             4141.0

In [35]:
formations = starting_xi[["match_id", "team.name", "tactics.formation"]].drop_duplicates()
formations.columns = ["match_id", "team_name", "formation_raw"]

def clean_formation(f):
    if pd.isna(f):
        return "Unknown"
    f = str(int(f))      
    return "-".join(f)   

formations["formation"] = formations["formation_raw"].apply(clean_formation)
formations[["match_id", "team_name", "formation"]]

   match_id        team_name formation
0   3754058   Leicester City     4-4-2
1   3754058  AFC Bournemouth   4-1-4-1

Formations were extracted from the Starting XI event in the StatsBomb data and put into a standard hyphenated structure.

In [36]:
import json
import time
import pandas as pd
from urllib.request import urlopen

BASE_URL = "https://raw.githubusercontent.com/statsbomb/open-data/master/data"

def read_json(url):
    with urlopen(url) as r:
        return json.loads(r.read().decode("utf-8"))

def clean_formation(f):
    if pd.isna(f):
        return "Unknown"
    f = str(int(f))          
    return "-".join(f)

In [37]:
pl_match_ids = pl_matches["match_id"].astype(int).tolist()
bund_match_ids = bund_matches["match_id"].astype(int).tolist()

match_ids = pl_match_ids + bund_match_ids
len(match_ids)

686

In [38]:
def extract_formations_from_events(match_id: int) -> pd.DataFrame:
    events_raw = read_json(f"{BASE_URL}/events/{match_id}.json")
    ev = pd.json_normalize(events_raw)
    ev["match_id"] = match_id

    sx = ev[ev["type.name"] == "Starting XI"].copy()

    formations = (
        sx[["match_id", "team.name", "tactics.formation"]].drop_duplicates().rename(columns={"team.name": "team_name", "tactics.formation": "formation_raw"}))

    formations["formation"] = formations["formation_raw"].apply(clean_formation)
    formations = formations.drop(columns=["formation_raw"])
    return formations

formations_all = []
errors_form = []

for i, mid in enumerate(match_ids, start=1):
    try:
        df = extract_formations_from_events(mid)
        formations_all.append(df)

        if i % 25 == 0:
            print(f"Formations: processed {i}/{len(match_ids)} matches")

        time.sleep(0.05)  

    except Exception as e:
        errors_form.append((mid, str(e)))

team_formations_all = pd.concat(formations_all, ignore_index=True)
team_formations_all.head()

Formations: processed 25/686 matches
Formations: processed 50/686 matches
Formations: processed 75/686 matches
Formations: processed 100/686 matches
Formations: processed 125/686 matches
Formations: processed 150/686 matches
Formations: processed 175/686 matches
Formations: processed 200/686 matches
Formations: processed 225/686 matches
Formations: processed 250/686 matches
Formations: processed 275/686 matches
Formations: processed 300/686 matches
Formations: processed 325/686 matches
Formations: processed 350/686 matches
Formations: processed 375/686 matches
Formations: processed 400/686 matches
Formations: processed 425/686 matches
Formations: processed 450/686 matches
Formations: processed 475/686 matches
Formations: processed 500/686 matches
Formations: processed 525/686 matches
Formations: processed 550/686 matches
Formations: processed 575/686 matches
Formations: processed 600/686 matches
Formations: processed 625/686 matches
Formations: processed 650/686 matches
Formations: processed 675/686 matches

   match_id             team_name formation
0   3754058        Leicester City     4-4-2
1   3754058       AFC Bournemouth   4-1-4-1
2   3754245  West Bromwich Albion     4-4-2
3   3754245            Sunderland   4-2-3-1
4   3754136      Newcastle United   4-2-3-1

In [39]:
team_formations_all.shape
team_formations_all["formation"].value_counts().head(15)
len(errors_form), errors_form[:3]

(0, [])

In [40]:
def extract_shots_from_events(match_id: int) -> pd.DataFrame:
    events_raw = read_json(f"{BASE_URL}/events/{match_id}.json")
    ev = pd.json_normalize(events_raw)
    ev["match_id"] = match_id

    shots = ev[ev["type.name"] == "Shot"].copy()

    
    shots["x"] = shots["location"].apply(lambda v: v[0] if isinstance(v, list) and len(v) > 0 else None)
    shots["y"] = shots["location"].apply(lambda v: v[1] if isinstance(v, list) and len(v) > 1 else None)

    
    shots["end_x"] = shots["shot.end_location"].apply(lambda v: v[0] if isinstance(v, list) and len(v) > 0 else None)
    shots["end_y"] = shots["shot.end_location"].apply(lambda v: v[1] if isinstance(v, list) and len(v) > 1 else None)
    shots["end_z"] = shots["shot.end_location"].apply(lambda v: v[2] if isinstance(v, list) and len(v) > 2 else None)

    keep = shots[[
        "id", "match_id", "minute", "second",
        "team.name", "player.name",
        "type.name",
        "shot.statsbomb_xg",
        "shot.outcome.name",
        "shot.type.name",
        "shot.body_part.name",
        "shot.technique.name",
        "play_pattern.name",
        "x", "y", "end_x", "end_y", "end_z"]].copy()

    keep = keep.rename(columns={
        "id": "event_id",
        "team.name": "team_name",
        "player.name": "player_name",
        "type.name": "event_type",
        "shot.statsbomb_xg": "xg",
        "shot.outcome.name": "shot_outcome",
        "shot.type.name": "shot_type",
        "shot.body_part.name": "body_part",
        "shot.technique.name": "technique",
        "play_pattern.name": "play_pattern"})

    
    keep["xg"] = keep["xg"].fillna(0)
    keep["shot_type"] = keep["shot_type"].fillna("Unknown")
    keep["shot_outcome"] = keep["shot_outcome"].fillna("Unknown")
    keep["is_goal"] = (keep["shot_outcome"] == "Goal").astype(int)

    return keep

shots_all = []
errors_shots = []

for i, mid in enumerate(match_ids, start=1):
    try:
        df = extract_shots_from_events(mid)
        shots_all.append(df)

        if i % 25 == 0:
            print(f"Shots: processed {i}/{len(match_ids)} matches")

        time.sleep(0.05)

    except Exception as e:
        errors_shots.append((mid, str(e)))

shots_all_df = pd.concat(shots_all, ignore_index=True)
shots_all_df.head()

Shots: processed 25/686 matches
Shots: processed 50/686 matches
Shots: processed 75/686 matches
Shots: processed 100/686 matches
Shots: processed 125/686 matches
Shots: processed 150/686 matches
Shots: processed 175/686 matches
Shots: processed 200/686 matches
Shots: processed 225/686 matches
Shots: processed 250/686 matches
Shots: processed 275/686 matches
Shots: processed 300/686 matches
Shots: processed 325/686 matches
Shots: processed 350/686 matches
Shots: processed 375/686 matches
Shots: processed 400/686 matches
Shots: processed 425/686 matches
Shots: processed 450/686 matches
Shots: processed 475/686 matches
Shots: processed 500/686 matches
Shots: processed 525/686 matches
Shots: processed 550/686 matches
Shots: processed 575/686 matches
Shots: processed 600/686 matches
Shots: processed 625/686 matches
Shots: processed 650/686 matches
Shots: processed 675/686 matches

,event_id,match_id,minute,second,team_name,player_name,event_type,xg,shot_outcome,shot_type,body_part,technique,play_pattern,x,y,end_x,end_y,end_z,is_goal
0,72596ffe-393e-4a75-82c6-5fb82ae36d4d,3754058,1,33,AFC Bournemouth,Junior Stanislas,Shot,0.020838,Blocked,Open Play,Right Foot,Normal,Regular Play,107.1,26.6,109.7,30.1,NaN,0
1,b2bae775-5dd8-45bf-9b84-191c7849f707,3754058,4,23,AFC Bournemouth,Joshua King,Shot,0.034462,Blocked,Open Play,Right Foot,Normal,Regular Play,113.7,54.0,114.5,52.6,NaN,0
2,7c4227e5-0759-4633-93ea-bbbe291bbd72,3754058,9,20,Leicester City,Riyad Mahrez,Shot,0.035481,Off T,Open Play,Left Foot,Overhead Kick,Regular Play,115.7,50.5,120.0,43.3,3.6,0
3,8e3a6f10-64e4-49bf-a157-16b15b552713,3754058,13,11,AFC Bournemouth,Joshua King,Shot,0.383711,Off T,Open Play,Head,Normal,From Throw In,113.9,38.6,120.0,46.0,1.2,0
4,3a5364b3-0b99-4271-a451-0a3033ad195d,3754058,25,47,Leicester City,José Leonardo Ulloa,Shot,0.036740,Wayward,Open Play,Right Foot,Half Volley,From Free Kick,96.7,47.2,103.9,40.1,NaN,0

In [41]:
os.makedirs("data/cleaned", exist_ok=True)

team_formations_all.to_csv("data/cleaned/team_formations_1516_pl_bund.csv",index=False)

shots_all_df.to_csv("data/cleaned/shots_1516_pl_bund.csv",index=False)